@model ComuneViewModel
<div class="row">
    <div class="col-md-12">
        <h1>@(Model.nomeComune) <a href="#">@if(Model.flagProvincia==1) {<i title="Provincia" class="fab fa-product-hunt"></i>}</a> <a href="#">@if (Model.flagRegione==1){<i title="Capoluogo di regione" class="fas fa-registered"></i>}</a></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <h2>Regione: <a asp-controller = "Regioni" asp-action="Dettaglio" asp-route-id="@Model.regione.codiceRegione">@Model.regione.nomeRegione</a></h2>
        <h2>Provincia: <a asp-controller = "Province" asp-action="Dettaglio" asp-route-id="@Model.provincia.codiceProvincia">@Model.provincia.nomeProvincia (@Model.provincia.siglaProvincia)</a></h2>
        <h2>Cap: <a asp-cpntroller="Comuni" asp-action="Index" asp-route-cap="@Model.cap">@Model.cap</a></h2>
        <h2>Prefisso: <a asp-cpntroller="Comuni" asp-action="Index" asp-route-prefisso="@Model.prefisso">@Model.prefisso</a></h2>
        <br />
        <h2>Abitanti: @Model.abitanti.ToString("#,###,###")</h2>
        <h2>Codice catastale: @Model.codiceCatastale</h2>
        <br />
        <a class="btn btn-outline-primary" onClick="history.go(-1);return true;"><i class="fas fa-chevron-left"></i> Torna indietro</a>
    </div>
    <div class="col-md-3">
        <img src="~/Italia/@(@Model.regione.ripartizioneGeografica).jpg" width="200">
        <h2>Ripartizione geografica<br />@(Model.regione.ripartizioneGeografica)</h2>
    </div>
</div>