@model ComuneViewModel
<div class="row">
    <div class="col-md-9">
        <h1>@(Model.nomeComune) (@Model.provincia)</h1>
        <h2>Regione: <a asp-controller = "Regioni" asp-action="Dettaglio" asp-route-id="@Model.regione.codiceRegione">@Model.regione.nomeRegione</a></h2>
        <h2>Provincia: <a asp-cpntroller="Comuni" asp-action="Index">@Model.provincia</a></h2>
        <h2>Cap: <a asp-cpntroller="Comuni" asp-action="Index">@Model.cap</a></h2>
        <h2>Prefisso: <a asp-cpntroller="Comuni" asp-action="Index">@Model.prefisso</a></h2>
        <br />
        <h2>Abitanti: @Model.abitanti</h2>
        <h2>Codice catastale: @Model.codiceCatastale</h2>
        <br />
        <a class="btn btn-outline-primary" asp-cpntroller="Comuni" asp-action="Index">Vai all'elenco dei comuni</a>
    </div>
    <div class="col-md-3">
        <br />
        <h2>Ripartizione geografica<br />@(Model.ripartizioneGeografica)</h2>
        <img src="~/Italia/@(@Model.ripartizioneGeografica).jpg" width="200">
    </div>
</div>