@model List<ComuneViewModel>          // serve a rendere fortemente tipizzata la view
<h1>Elenco comuni</h1>
<div class="row">
    <div class="col-md-5">
        <input type="text" name="search" placeholder="Cerca comune">
        <button><i class="fas fa-search"></i></button>
    </div>
    <div class="col-md-3">Campo1</div>
    <div class="col-md-2">Campo1</div>
    <div class="col-md-2"></div>
</div>
<hr />
@foreach (ComuneViewModel comune in Model)
{
    <div class="row">
        <div class="col-md-1">
            <a href="#"><img src="~/Italia/@(comune.regione.ripartizioneGeografica).jpg" width="50" title="@comune.regione.ripartizioneGeografica"></a>
        </div>
        <div class="col-md-4">
            <h2><a asp-action="Dettaglio" asp-route-id="@comune.codiceCatastale">@comune.nomeComune</a></h2>
            <abitanti>Abitanti: @comune.abitanti.ToString("#,###,###")</abitanti>
        </div>
        <div class="col-md-3">
            <regione>Regione: <a asp-controller = "Regioni" asp-action="Dettaglio" asp-route-id="@comune.regione.codiceRegione">@comune.regione.nomeRegione</a></regione><br />
            <provincia>Provincia: <a asp-controller = "Province" asp-action="Dettaglio" asp-route-id="@comune.provincia.codiceProvincia">@comune.provincia.nomeProvincia (@comune.provincia.siglaProvincia)</a></provincia>
        </div>
        <div class="col-md-2">
            <cap>CAP: @comune.cap</cap><br />
            <prefisso>Prefisso: @comune.prefisso</prefisso>
        </div>
        <div class="col-md-2">
            <a class="btn btn-outline-primary" asp-action="Dettaglio" asp-route-id="@comune.codiceCatastale">Visualizza</a>
        </div>
    </div>
    <hr />
}